<html>
<head>
    <title>$i18n.getText("migration.page.label")</title>
    <meta name="decorator" content="atl.admin">
    <script src="https://kit.fontawesome.com/b52cf41e08.js" crossorigin="anonymous"></script>
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-forms")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-progress-tracker")
    $webResourceManager.requireResource("com.aws.apn.migration.serverPlugin:resources")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-toggle")


</head>
<body>
<h1>Processing Cloudformation Quickstart</h1>
<p>Stack ID:  $cloudformationStackId</p>
</body>
</html>