{namespace awsmigrationplugin}

/**
 * Main layout which loads React app and all resources.
 */
{template .init}
    {webResourceManager_requireResourcesForContext('aws-migration-plugin')}
    <html>
        <head>
            <title>{getText('awsmigrationplugin.title')}</title>
            <meta name="decorator" content="atl.admin"/>
        </head>
        <body>
            <div id="dc-on-aws-migration-plugin"></div>
        </body>
    </html>
{/template}
