{namespace dcmigration}

/**
 * Main layout which loads React app and all resources.
 */
{template .init}
    {webResourceManager_requireResourcesForContext('dc-migration-assistant')}
    <html>
        <head>
            <title>Hello</title>
            <meta name="decorator" content="atl.admin"/>
        </head>
        <body>
            <div id="dc-migration-assistant-root"></div>
        </body>
    </html>
{/template}
